<a href="https://colab.research.google.com/github/ceciliagomez/DeepLearningITBA/blob/master/Intro_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Listas** en Phyton

In [ ]:
X = 2.1
X1='Juan'
X2='Gladis'
X1+X2
Y= float(1.1)
z=2
X4='Juan'
X5=str(2)
X4+X5

'Juan2'

Python  no necesita la declaraci√≥n del tipo de variable
La suma de string concatena
puedo castear valores

In [ ]:
type(X)

float

In [ ]:
X1='Juan'
X2=24
print(f{X1} tiene {X2})

SyntaxError: ignored

In [6]:
lista_1= [1, 'Juan' , 18, 8.2]
lista_2= [1, 'mariana' , 18, 8.2]

In [7]:
lista_2[3]
lista_3 = lista_1 + lista_2

In [ ]:
lista_3

[1, 'Juan', 18, 8.2, 1, 'Juan', 18, 8.2]

In [ ]:
lista_3[1:3]

['Juan', 18]

el hasta el hasta n-1

In [ ]:
lista_3[1:4]

['Juan', 18, 8.2]

In [3]:
lista_3[::-1]

NameError: ignored

In [ ]:
lista_3[::2]

[1, 18, 1, 18]

In [8]:
lista_1 * lista_2

TypeError: ignored

Tuplas

In [10]:
lista_3[1]='mariana'

In [15]:
tupla_1 = (1,'juan', 18, 8.2, 1)
tupla_2 = (3, 'mariana' , 20, 5.8, 1)

tupla_1[1]= 'mariana'

TypeError: ignored

In [17]:
lista_3[1] = lista_2

In [18]:
lista_3

[1, [1, 'mariana', 18, 8.2], 18, 8.2, 1, 'mariana', 18, 8.2]

In [20]:
for  i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
[i for  i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
[i+2 for  i in range(10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]